#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-family: "Gilroy-Regular";

}
button {
  background: none;
  border: none;
  outline: none;
  box-shadow: none;
  cursor: pointer;
}
